@import url(nullstyle.css);
body {
  background-color: #fffacd;
  background-image: url("https://i.pinimg.com/originals/73/4d/fd/734dfd77c668c3e547b1e783733d1f64.jpg");
  background-repeat: round;
  font-family: Ledger;
  font-size: 24px;
}

.container {
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .container {
    max-width: 780px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  height: 120px;
}
.add-tasks-button-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80%;
  max-width: 400px;
  background: #ffe4b5;
  box-shadow: 0px 0px 5px 3px#c7b96d;
  padding: 10px 20px;
  user-select: none;
}
.add-tasks-button {
  background: #fffacd;
  padding: 15px;
}
.add-tasks-button:hover {
  cursor: pointer;
  box-shadow: 1px 2px 2px 2px #beb166;
}
.add-tasks-button:active {
  cursor: pointer;
  box-shadow: 1px 0px 4px 4px #beb166;
}
.add-tasks-close-button {
  width: 200px;
}
/* .................................................. */

.menu {
  padding: 20px;
  background: #ffdead;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px #ffa07a;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  padding: 0 15px;
  border-radius: 10px;
  width: 80%;
  height: 60px;
  font-size: 30px;
  margin-bottom: 10px;
}
.input:focus {
  outline: 4px solid #8470ff;
}
.task-submit {
  color: white;
  padding: 10px;
  background: #9370db;
  width: 140px;
  font-size: 24px;
}

/* ............................... */
.todo__list,
.list-complite {
  border-radius: 5px;
  margin-top: 20px;
  max-height: 600px;
  overflow: hidden;
}
.bord {
  border: 4px solid #8470ff;
}

.todo__list-ul,
.list-complite-ul {
  line-height: 40px;
  background: #fffff0;
}
.todo__list-item {
  display: block;
  word-break: break-all;
  padding-right: 30px;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  cursor: grab;
}

.todo__list-item:not(.todo__list-item:last-child) {
  border-bottom: 1px solid #778899;
}
/* ......................................... */
.display-none {
  display: none;
}

h3 {
  padding: 10px 0;
  text-align: center;
  background: #fffacd;
}

.hold {
  color: white;
  background: black;
}

.hovered {
  border: 4px solid aqua;
}

.delete-button {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0px;
  width: 30px;
  height: 100%;
  background: linear-gradient(90deg, red, darkred, violet);
  color: white;
  padding: 0px 0px 7px;
}
